<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096264493032-usvmen0pha6c67cp7bedrj8kvgdrfc8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096264493032-usvmen0pha6c67cp7bedrj8kvgdrfc8a</string>
	<key>API_KEY</key>
	<string>AIzaSyBlUhv3Jwc0dc4DZoqc1Eg1RhRF3lsN7Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>1096264493032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timothygoh.travel-buddy</string>
	<key>PROJECT_ID</key>
	<string>travel-buddy-7df44</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-buddy-7df44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096264493032:ios:52c972d98155b231d9665d</string>
	<key>DATABASE_URL</key>
	<string>https://travel-buddy-7df44-default-rtdb.firebaseio.com</string>
</dict>
</plist>